* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #073763;
}
 
 img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
 }
 
h1 {
  color: #073763;
  text-align: center;
  background-color: #f79612;
  padding: 10px;
}

h4 {
	position: relative;
	float: right;
	bottom: 57px;
	right: 80px;
	color: white;
	background-color: #f79612;
}

strong {
	color: white;
	background-color: #f79612;
}
 
 
p, 
li {
  font-size: 15px;
  color: white;
}
 
 
a {
  text-decoration: none;
}

.dropdownbtn {
background-color: #f79612;
color: white;
border: none;
padding: 12px;
font-size: 12px;
}
.dropdownfunction{
position:fixed;
display: block;
background-color: #f79612;
top: 14px;
}
.dropdownlist-content {
display: none;
position: absolute;
background-color: teal;
min-width: 120px;
border-radius: 0px 25px 25px 25px;
z-index: 1;
}
.dropdownlist-content a {
color: white;
background-color: teal;
padding: 14px 18px;
display: block;
border-radius: 0px 25px 25px 25px;

}

.dropdownlist-content a:hover {
	background-color: #f79612;
}

.dropdownfunction:hover .dropdownlist-content {
	display: block;
	
}

.dropdownfunction:hover .dropdownbtn {
	background-color: teal;
	border-radius: 0px 25px 0px 0px;
}
